/********************/
.visho {
	z-index: 1001;
	display: none;
	position: relative;
}
.visho .overlex {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .66);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 666;
}
.visho .vi-show {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	z-index: 667;
}
.vi-sho span {
	position: fixed;
	top: 20px;
	right: 20px;
	z-index: 9999;
	cursor: pointer;
	color: #fff;
	font-weight: 600;
}
.vi-sho iframe {
	height: 80%;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 999;
}
.pop .popup-click{
	position: absolute;
	top: 0;
	width: 85%;
	height: 100%;
}
body > a.fixed-nav{display: none;}



.efx_image_show{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 999;
}
.efx_image_show .efx_overlay{
	height: 100%;
	width: 100%;
	background-color: rgba(10,10,10,0.8);
	z-index: 998;
	position: absolute;
	top: 0;
	left: 0;
}
.efx_image_content{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.efx_image_content img{
	position: absolute;
	max-width: 80%;
	height: 80%;
	/*top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	object-fit: contain;
}
.efx_image_content span{
	color: #fff; font-size: 24px;
	position: absolute;
	top: 20px;
	right: 30px;
	cursor: pointer;
}