/**************/

:root{
	--colorPrimary: #009DE2;
	--colorSecondary: #E24C7F;

	--colorBack: #362C2C;
	--colorWhite: #fff;
	--colorFooter: #fff;

	--colorTitle: #291C23;
	--colorSubtitle: #757575;
	--colorText: #5A5A5A;
	--colorDetails: #D2D2D2;
	--colorBorder: #e4eaed;

	--sizeDetails: 12px;
	--sizeText: 14px;
	--sizeSubtitle: 22px;
	--sizeTitle: 32px;
	--sizeBigtitle: 48px;

	--lineheightText: 1.6;
	--lineheightTitle: 1.4;
	--lineheightNone: 1;

	--itemShadow: 0px 18px 38px rgba(42,20,30,0.06);
}
h1, h2, h3, h4, h5{
    /*font-family: 'Rubik', sans-serif;*/
    /*font-family: 'Heebo', sans-serif;*/
    font-family: 'PT Serif', serif;
    font-weight: 900;
}
body{
	/*font-family: 'Be Vietnam', sans-serif;*/
	/*font-family: 'Quicksand', sans-serif;*/
	font-family: 'PT Serif', serif;
	font-weight: 400;
}
strong{
	font-weight: 500;
}
.m-auto{
	margin-right: auto !important;
	margin-left: auto !important;
}




.headerpage{
	height: 220px;
	/*background-image: url(../images/objetos/bar.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;*/
}
.hp_content{
	position: relative;
	width: 100%;
	height: 100%;
	/*background-color: rgba(20,64,86,0.8);*/
	background-color: var(--colorWhite);
}
.hpc_{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}
.hpc_url a{
	color: #fff;
	margin: 0;
	text-decoration: none;
}
.hpc_url span{
	margin: 0 5px;
	color: #fff;
}
/*a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus{
	color: #fff;
}
a:not([href]):not([tabindex]){
	color: #fff;
}*/
.hpc_url.hpcinv a,
.hpc_url.hpcinv span{
	color: var(--primary) !important;
}


.sp_descrip{
	position: relative;
}
.sp_descrip h4{
	font-size: var(--sizeSubtitle);
	color: var(--colorTitle);
	margin: 0 0 10px;
	/*font-family: 'Tangerine', cursive;*/
}
div.sp_precio{
	position: relative;
	margin-bottom: 20px;
}
div.sp_precio p{
	font-weight: 700;
}
p.sp_price{
	font-size: var(--sizeSubtitle);
	color: var(--colorDetails);
	margin: 0;
}
p.sp_price_old{
	font-size: var(--sizeSubtitle);
	color: var(--colorDetails);
	margin: 0;
	margin-right: 12px;
	font-weight: 400 !important;
}
p.sp_desc{
	font-size: var(--sizeSubtitle);
	color: var(--colorPrimary);
	margin: 0;
}
.spd_details{
	font-size: var(--sizeText);
	color: var(--colorText);
	margin-bottom: 40px;
}

.spd_other{margin-bottom: 40px;}
.spd_other p{
	font-size: var(--sizeText);
	color: var(--colorDetails);
}
.spd_other p strong{
	color: var(--colorTitle);
	font-weight: 600;
}




/*div.s_title{
	margin-bottom: 60px;
}
div.s_title h1{margin: 0;}
div.s_title span{
	background-color: #1B4167;
	color: #fff;
	padding: 2px 15px;
}
div.s_title.st_inv
*/
#loader{	
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: #fff;
}
#loader .loader_c{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
#loader .loader_c img{
	width: 115px;
	animation-name: example;
  	animation-duration: 2s;
}
@keyframes example{
	0%{transform: scale(1.2);opacity: 0;}
	100%{transform: scale(1);opacity: 1}
}
/**************************/
.mydrop > a.mdrop_ac{
	position: relative;
	padding-right: 20px !important;
}

.mydrop .mdrop_cont{
	position: absolute;
    padding-top: 10px;
    width: max-content;
    min-width: 240px;
    right: 0;
    opacity: 0;
    visibility: hidden;
    /*transform: translateY(-10px);*/
    z-index: 999;
    transition: all 100ms;
}
.mydrop .mdrop_cont ul{
	width: 100%;
	height: auto;
	padding: 10px 0px;
	background-color: #fff;
	box-shadow: 0px 32px 28px rgba(0,0,0,0.08);
	list-style: none;
	position: relative;
	border-radius: 0px;
}

.mydrop .mdrop_cont > ul.mdrop_list > li > a{
	color: var(--colorTitle);
    display: block;
    font-size: 14px;
    padding: 8px 40px 8px 20px !important;
    transition: all 300ms;
    text-decoration: none;
}
.mydrop .mdrop_cont > ul.mdrop_list > li > a:hover{
	/*transform: translateX(4px);*/
	color: var(--colorPrimary);
}
.mydrop:hover .mdrop_cont{
	opacity: 1;
	visibility: visible;
	transform: translateY(0px);
}

.md_nivel{position: relative;}
.mdn_box{
	position: absolute;
	top: 0;
	left: 100%;
	min-width: 240px;
	visibility: hidden;
	opacity: 0;
}
.mdn_box ul{
	list-style: none;
	padding: 5px 0px !important;
	margin: 0;
}
.mdn_box ul a{
	display: block;
	font-size: 14px;
	font-weight: 400;
	padding: 8px 30px !important;
	color: var(--colorTitle);
	text-decoration: none;
	transition: all 300ms;
	position: relative;
}
.mdn_box ul a:hover{
	color: var(--colorPrimary);
}
.md_nivel a i{
    position: absolute;
    right: 15px;
    top: 16px;
    font-size: 12px;
    color: var(--colorTitle);
}
.md_nivel:hover .mdn_box{
	visibility: visible;
	opacity: 1;
}



/*****Popup inicial*/
.popup{
    background-color: rgba(0,0,0,0.8);
    height: 100%;
    left: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 101;
    display: none;
    transition: all 200ms;
}
.popup.popopen{
	opacity: 1;
	display: block;
}
.popup_in{
	width: 600px;
	height: auto;
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(0.8);
	/*background-color: #fff;*/
	border-radius: 4px;
	opacity: 0;
	overflow: hidden;
	box-shadow: 4px 12px 24px rgba(0,0,0,0.2);
	transition: all 200ms;
}
.popup_in img{
	width: 100%;
	position: relative;
}
.popup_in.normal{
	opacity: 1;
	transform: translate(-50%, -50%) scale(1);
}

a.closer {
    cursor: pointer;
    position: absolute;
    color: #fff !important;
    font-size: 20px;
    /*height: 34px;
    width: 34px;*/
    right: 20px;
    top: 10px;
    z-index: 102;
}
/*efeccts*/
/*buttoms*/
.btn_s1{
	padding: 12px 30px;
	color: #fff;
	text-decoration: none;
	border: none;
	border-radius: 5px;
	background-color: #ED991A;
	font-size: 18px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	display: inline-block;
}
.btn_s1:hover{
	text-decoration: none;
	color: #fff;
}
.btn_s1:before{
	content: "";
	width: 210px;
	height: 180px;
	background-color: #0B004A;
	position: absolute;
	top: -300%;
	left: -150%;
	z-index: -1;
	transform: rotate(-45deg);
	transition: all 300ms;
}
.btn_s1:hover:before{
	top: -150%;
	left: -50%;
}


/**/
.nbr_info{
	background-color: #fff;
	padding: 8px 0;
	position: relative;
	z-index: 99;
	overflow: hidden;
	border-bottom: 1px solid var(--colorBorder);
}
.nbr_data{
	float: left;
}
.nbr_data ul{
	list-style: none;
	padding: 0;
	display: flex;
	margin: 0;
}
.nbr_data ul li{
	margin-right: 30px;
	line-height: 1;
}
.nbr_data ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	letter-spacing: 1px;
}
.nbr_data ul li a i{
	margin-right: 5px;
	font-size: 12px;
	color: #fff;
}

.nbr_social{
	float: right;
}
.nbr_social svg{
	width: 14px;
	height: 14px;
	margin: 0;
	transform: translateY(2px);
}
.nbr_social ul{
	list-style: none;
	padding: 0;
	display: flex;
	margin: 0;
}
.nbr_social ul li{
	margin-left: 35px;
}
.nbr_social ul li a{
	color: #fff;
	text-decoration: none;
	font-size: 14px;
}
/**/
.nbr_principal{
	background-color: #fff;
	border: none;
	margin-bottom: 0;
	border-radius: 0;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 54px;
	z-index: 99;
}
.nbr_principal ul.navbar-nav li.nav-item{
	margin: 0 10px;
}
.nbr_principal ul.navbar-nav a.nav-link{
	position: relative;
	color: var(--colorTitle);
	font-size: 14px;
	font-weight: 500;
	padding: 6px 15px;
	transition: all 300ms;
}
.nbr_principal ul.navbar-nav li:not(.nav_btn) a.nav-link:before{
	content: "";
	width: 0%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #fff;
	transition: all 100ms;
}
.nbr_principal ul.navbar-nav li:not(.nav_btn) a.nav-link:hover:before{
	width: 100%;
}
.nbr_principal ul.navbar-nav a.nav-link:hover{
	color: var(--colorPrimary);
}
.nbr_principal ul.dropdown-menu{
	padding: 30px 15px;
	border: none;
	transform: translateY(30px);
	border-radius: 5px;
}
.nbr_principal ul.dropdown-menu:before{
	content: "";
	width: 25px;
	height: 25px;
	border-radius: 2px;
	position: absolute;
	top: -10px;
	right: 30px;
	background-color: #fff;
	transform: rotate(-45deg);
}
.nbr_principal ul.dropdown-menu li{
	margin-bottom: 5px;
}
.nav_btn{
	background-color: transparent;
	border: 1px solid var(--colorPrimary);
	color: var(--colorPrimary);
	margin-left: 15px;
}
.nbr_principal ul.navbar-nav .nav_btn a.nav-link{
	color: var(--colorPrimary);
}




/*slider*/
.slider-active img{
	animation: zoomed 10000ms;
	animation-fill-mode: both;
}
@keyframes zoomed{
	from{transform: scale(1);}
	to{transform: scale(1.1);}
}

.slider_section{
	/*height: calc(100vh - 130px);*/
	height: 420px;
	width: 100%;
	position: relative;
	z-index: 1;
}
/*.slider_section:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--colorPrimary);
	opacity: 0.4;
}*/
.sc_slider img{
	transform: scale(1.1);
	transition: all 300ms;
}
.sc_slider{
	/*height: calc(100vh - 130px);*/
	height: 100%;
	width: 100%;
	position:relative;
	top: 0;
	left: 0;
}
.bx-slidah{
	/*height: calc(100vh - 130px);*/
	height: 420px;
	width: 100%;
}
.bxs_item{
	height: 100%;
	width: 100%;
	/*background-size: cover;*/
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.bxs_item:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	/*background: linear-gradient(to right, rgba(0,0,0,0.8), rgba(0,0,0,0.4));*/
	/*background: var(--colorBack);*/
	background: #fff;
	opacity: 0.12;
	z-index: 1;
}
.sls_context{
	position: relative;
	z-index: 2;
}
.sls_context h5{
	font-size: var(--sizeBigtitle);
	color: var(--colorPrimary);
	margin: 0 0 8px;
	line-height: 1;
	font-family: 'Tangerine', cursive;

}
.sls_context h2{
	font-size: var(--sizeBigtitle);
	font-weight: 400;
	color: #fff;
	margin: 0 0 20px;
	/*display: inline-block;*/
	display: none;
	position: relative;
	/*padding-bottom: 10px;*/
	letter-spacing: 1px;
	line-height: 1;
	/*text-shadow: 2px 8px 20px rgba(0,0,0,0.1);*/
	/*border-bottom: 1px solid #fff;*/
	/*text-transform: uppercase;*/
}
/*.sls_context h2:before{
	content: "";
	width: 78px;
	height: 4px;
	background-color: var(--colorSecondary);
	position: absolute;
	bottom: 0;
	left: 2px;
}*/
.sls_context p{
	font-size: 14px;
	font-weight: 400;
	color: var(--colorText);
	margin: 0 0 2px;
}
.sls_context > div{
	margin-top: 20px;
}
.sls_context a{
	/*display: inline-flex;*/
	/*width: 240px;
	height: 52px;*/
	display: inline-block;
	padding: 18px 40px;
	align-items: center;
	justify-content: center;
	color: #fff;
	/*background-color: var(--colorPrimary);*/
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	margin-top: 34px;
	/*border: 1px solid #fff;*/
	border-radius: 5px;
	background-color: var(--colorPrimary);
	line-height: 1;
	transition: all 300ms;
}
.sls_context a:hover{
	color: var(--colorPrimary);
	background-color: #fff;
	box-shadow: 0 24px 42px rgba(0,0,0,0.06);
}







/********************************/
.s_title{
	text-align: center;
	position: relative;
	margin-bottom: 60px;
}
.s_title h2{
	font-size: var(--sizeBigtitle);
	font-weight: 700;
	color: var(--colorPrimary);
	margin: 0 0 2px;
	font-family: 'Tangerine', cursive;
	line-height: 1;
}
.s_title p{
	font-size: var(--sizeText);
	color: var(--colorDetails);
	margin: 0;
}
.s_title.st_inv p{color: #fff;}




.row{
	margin-right: -20px;
	margin-left: -20px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
	padding-right: 20px;
	padding-left: 20px;
}

.back_white{
	background-color: var(--colorWhite);
}



/*Coleccion section*/
.s_colecction{position: relative;}
.s_colecction .sc_item{
	position: relative;
	margin-bottom: 40px;
	text-align: center;
}
.s_colecction .sc_item .sci_img{
	width: 100%;
	height: 380px;
	position: relative;
	border-radius: 2px;
	overflow: hidden;
	margin-bottom: 10px;
	transition: all 400ms;
}
.s_colecction .sc_item .sci_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 400ms;
}
.s_colecction .sc_item .sci_img:hover{
	box-shadow: var(--itemShadow);
}
.s_colecction .sc_item .sci_img:hover img{
	transform: scale(1.04);
}
.s_colecction .sc_item a{
	font-size: var(--sizeSubtitle);
	color: var(--colorTitle);
	font-weight: 600;
	text-decoration: none;
	transition: all 300ms;
}
.s_colecction .sc_item a:hover{
	color: var(--colorPrimary);
}


/*********Div miniheader*/
.ibreadcumbs{
	position: relative;
	padding: 60px 0;
	background-color: var(--colorWhite);
	text-align: center;
}
.ibreadcumbs h1{
	font-size: var(--sizeTitle);
	font-family: 'Tangerine', cursive;
	color: var(--colorTitle);
	margin: 0 0 10px;

}
.ibreadcumbs ul{
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
	position: relative;
	justify-content: center;
}
.ibreadcumbs ul li{
	position: relative;
	margin-right: 12px;
}
.ibreadcumbs ul li:last-child{margin-right: 0px;}
.ibreadcumbs ul li a{cursor: pointer !important;transition: all 400ms;}
.ibreadcumbs ul li a,
.ibreadcumbs ul li span{
	font-size: var(--sizeDetails);
	margin: 0;
	color: var(--colorSubtitle);
	text-decoration: none;
}
.ibreadcumbs ul li.active a{
	color: var(--colorPrimary);
}
.ibreadcumbs ul li a:hover{
	color: var(--colorPrimary) !important;
}

/* Productos section*/
.s_productos{position: relative;}
.s_productos .sp_item{
	position: relative;
	margin-bottom: 40px;
}
.s_productos .sp_item .spi_img{
	width: 100%;
	height: 300px;
	position: relative;
	border-radius: 8px;
	overflow: hidden;
	margin-bottom: 10px;
	transition: all 300ms;
}
.s_productos .sp_item .spi_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.s_productos .sp_item .spi_details{
	position: relative;
	text-align: center;
}
.s_productos .sp_item .spi_details a{
	font-size: var(--sizeText);
	font-weight: 600;
	color: var(--colorTitle);
	margin: 0 0 8px;
}
.s_productos .sp_item .spi_details p{
	font-size: var(--sizeText);
	font-weight: 400;
	color: var(--colorDetails);
}



/**************Comentarios section************/
.s_comment{
	position: relative;
	background-image: url('../images/back/bgt.jpg');
	background-position: center;
	background-size: cover;
	min-height: 540px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.s_comment:before{
	content: "";
	background-color: #000;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.12;
}
.cs_comments{
	position: relative;
}
.cs_comments .cs_item{
	position: relative;
	text-align: center;
}
.cs_comments .cs_item > p{
	font-size: var(--sizeText);
	font-weight: 500;
	color: #fff;
	font-style: italic;
}
.csi_data{
	margin-top: 40px;
	text-align: center;
}
.csi_data p{
	font-size: var(--sizeDetails);
	color: #fff;
	margin: 0;
	font-weight: 600;
}
.csi_data p strong{
	font-weight: 600;
	color: #fff;
	font-size: 16px;
}


.cs_comments .owl-item{
	opacity: 0;
	transition: all 1000ms;
}
.cs_comments .owl-item.active{
	opacity: 1;
	transition: all 1000ms;
}






.s_contact{position: relative;}
.s_contact .contact_data{position: relative;}

.contact_data .cd_title{
	margin-bottom: 40px;
	position: relative;
}
.contact_data .cd_title h5{
	font-size: var(--sizeBigtitle);
	color: var(--colorPrimary);
	font-family: 'Tangerine', cursive;
	margin: 0;
}
.contact_data .cd_title p{
	font-size: var(--sizeText);
	color: var(--colorText);
	margin: 0;
}

.cd_datos{
	margin-bottom: 20px;
}
.cd_datos .cdd_item{position: relative;margin-bottom: 10px;}

.cd_datos .cdd_item h5{
	font-size: var(--sizeSubtitle);
	color: var(--colorTitle);
	margin: 0 0 8px;
}
.cd_datos .cdd_item p{
	font-size: var(--sizeText);
	color: var(--colorText);
	margin: 0;
}


/**/
a.ibtn{
	position: relative;
	padding: 14px 40px;
	display: inline-block;
	line-height: 1;
	text-decoration: none;
	margin-right: 20px;
	border-radius: 5px;
	border: 1px solid rgba(0,0,0,0);
	/*box-shadow: 0 20px 32px rgba(0,0,0,0.08);*/
	font-size: var(--sizeText);
}
a.ibtn:last-child{margin-right: 0;}
a.ibtn.ibtn_m1{
	background-color: var(--colorPrimary);
	color: #fff;
	border-color: var(--colorPrimary);
}

a.ibtn.ibtn_m2{
	background-color: #fff;
	color: var(--colorPrimary);
	border-color: var(--colorPrimary);
}


/********info*/

.info_section{
	padding: 140px 0;
}
.is_img{
	text-align: center;
}

.is_text h2{
	color: #1B4167;
	margin: 0 0 5px;
}
.is_text p{
	color: #8F8F8F;
}
.ist_title{
	position: relative;
	/*margin-top: 45px;*/
	margin-bottom: 30px;
}
.ist_title h5{
	margin: 0;
	font-size: 18px;
	color: #3F9ABF;
}



/********Oferta academica**************/
.oac_img{
	width: 100%;
	height: 400px;
	position: relative;
}

.oac_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.oac_text{
	width: 100%;
	height: 400px;
	background-color: #1B4167;
	padding: 45px;
	color: #fff;
}
.oac_text h2{
	color: #fff;
	margin: 0 0 30px 0;
}
.oac_text ul{
	margin-bottom: 45px;
}
.oac_text a{
	background-color: #fff;
	color: #20BBC6;
	text-decoration: none;
	padding: 10px 35px;
	position: relative;
	z-index: 1;
	display: inline-block;
	transition: all 300ms;
}
.oac_text a:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #DC463F;
	z-index: -1;
	transition: all 300ms;
}
.oac_text a:hover:before{
	width: 100%;
}
.oac_text a:hover{
	color: #fff;
}
/*************noticias***********/
.noticias_section{
	padding: 100px 0;
}
.ns_item{
	margin-bottom: 45px;
}
.nsi_head{
	width: 100%;
	height: 200px;
	position: relative;
}
.nsi_head img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.nsi_fade{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 300ms;
}
.nsi_fade:before{
	content: "";
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.nsi_fade:after{
	content: "";
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.nsi_head:hover .nsi_fade:before,
.nsi_head:hover .nsi_fade:after{
	width: 100%;
}
.nsi_link{
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.nsi_link a{
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	border: 2px solid #fff;
	transform: scale(0.8);
	opacity: 0;
	transition: all 300ms;
}
.nsi_head:hover .nsi_link a{
	transform: scale(1);
	opacity: 1;
}
.nsi_title{
	position: absolute;
	bottom: 5px;
	left: 0;
}
.nsi_title h4{
	padding: 0 5px;
}
.nsi_title span{
	background-color: #1B4167;
	color: #fff;
	padding: 2px 0px;
	line-height: 1.5em;
	font-size: 16px;
}

.nsi_body{
	margin-top: 20px;
}
.nsi_body p{
	color: #8F8F8F;
	margin-bottom: 30px;
}
.nsi_body a{
	padding: 10px 45px;
	background-color: #E32C23;
	color: #fff;
	text-decoration: none;
	position: relative;
	z-index: 1;
	display: inline-block;
}
.nsi_body a:before{
	content: "";
	width: 0%;
	height: 100%;
	background-color: #1B4167;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	transition: all 300ms;
}
.nsi_body a:hover:before{
	width: 100%;
}

.ns_vmn{
	text-align: center;
	margin-top: 60px;
}
.ns_vmn a{
	color: #8F8F8F;
	text-decoration: underline;
	font-size: 16px;
}
.ns_vmn a span{
	color: #595959;
	font-weight: 600;
}
.msg_section{
	background-color: #1B4167;
	padding: 60px 0;
}
.msg_section h1{
	text-align: center;
	color: #fff;
	margin: 0;
}



/*********multimedia******/
.multimedia_section{
	padding: 100px 0;
}
.ms_item_bg{
	height: 330px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.ms_item_bg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.msi_fade{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
}
.msi_fade:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #E32C23;
	opacity: 0.6;
	transition: all 300ms;
}
.msi_fade:after{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #E32C23;
	opacity: 0.6;
	transition: all 300ms;
}
.ms_item:hover .msi_fade:before{
	width: 100%;
}
.ms_item:hover .msi_fade:after{
	width: 100%;
}
.msi_open{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.msi_open img.lupa{
	width: 40px;
	height: auto;
	transform: scale(0.8);
	opacity: 0;
	transition: all 300ms;
}
.msi_open:hover img.lupa{
	transform: scale(1);
	opacity: 1;
}



.msib_fade{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.msib_fade:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.msib_fade:after{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.ms_item_bg:hover .msib_fade:before{
	width: 100%
}
.ms_item_bg:hover .msib_fade:after{
	width: 100%
}
.msib_play{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.msib_play img{
	width: 80px;
	height: auto;
	object-fit: contain;
	cursor: pointer;
	transform: scale(0.8);
	transition: all 300ms;
}
.ms_item_bg:hover .msib_play img{
	transform: scale(1);
}

.ms_item{
	height: 150px;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.ms_item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/*********footer*********/
/*********multimedia******/
.multimedia_section{
	padding: 100px 0;
}
.ms_item_bg{
	height: 330px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.ms_item_bg img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


.msi_fade{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
}
.msi_fade:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #E32C23;
	opacity: 0.6;
	transition: all 300ms;
}
.msi_fade:after{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #E32C23;
	opacity: 0.6;
	transition: all 300ms;
}
.ms_item:hover .msi_fade:before{
	width: 100%;
}
.ms_item:hover .msi_fade:after{
	width: 100%;
}
.msi_open{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.msi_open img.lupa{
	width: 40px;
	height: auto;
	transform: scale(0.8);
	opacity: 0;
	transition: all 300ms;
}
.msi_open:hover img.lupa{
	transform: scale(1);
	opacity: 1;
}



.msib_fade{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
}
.msib_fade:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.msib_fade:after{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.ms_item_bg:hover .msib_fade:before{
	width: 100%
}
.ms_item_bg:hover .msib_fade:after{
	width: 100%
}
.msib_play{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
}
.msib_play img{
	width: 80px;
	height: auto;
	object-fit: contain;
	cursor: pointer;
	transform: scale(0.8);
	transition: all 300ms;
}
.ms_item_bg:hover .msib_play img{
	transform: scale(1);
}

.ms_item{
	height: 150px;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.ms_item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}


/*********footer*********/
.m_footer{
	position: relative;
	background-color: var(--colorFooter);
	padding: 60px 0 15px 0;
}
.mf_1 img{
	height: 80px;
	width: auto;
	margin-bottom: 30px;
}
.mf_1 ul{
	list-style: none;
	padding: 0;
	display: flex;
}

.mf_1 li{
	margin-right: 15px;
}
.mf_1 li a{
	height: 40px;
	width: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	background-color: #1B4167;
	text-decoration: none;
	position: relative;
	z-index: 1;
}
.mf_1 li a:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #E32C23;
	z-index: -1;
	transition: all 300ms;
}
.mf_1 li a:hover:before{
	width: 100%;
}

.mf_1 p{
	font-size: var(--sizeText);
	color: var(--colorDetails);
}

.mf_2 h3{
	color: var(--colorTitle);
	font-size: 18px;
	margin: 0 0 15px 0;
	font-weight: 700;
}
.mf_2 ul{
	list-style: none;
	color: #fff;
	padding: 0 0 0 15px;
	margin-bottom: 15px;
}
.mf_2 ul li{
	margin-bottom: 1px;
}
.mf_2 ul a{
	color: var(--colorText);
	text-decoration: none;
	font-size: 12px;
}
.mf_2 ul li p{
	margin: 0;
	color: var(--colorText);
	font-size: var(--sizeDetails);
}
.mf2_titulo{position: relative;margin-bottom: 10px;}
.mf2_titulo h5{
	font-size: 16px;
	font-weight: 600;
	color: var(--colorTitle);
}
.mf_3 h3{
	margin: 0 0 15px 0;
	font-size: 18px;
	color: var(--colorTitle);
	font-weight: 600;
}
.mf_3 ul{
	list-style: none;
	color: var(--colorText);
	padding: 0;
	margin-bottom: 30px;
}
.mf_3 ul li{
	margin-bottom: 2px;
	font-size: 12px;
}
.mf_3 ul i{
	width: 20px;
}

.mf_3 a{
	color: var(--colorPrimary);
	background-color: transparent;
	text-decoration: none;
	padding: 10px 45px;
	position: relative;
	display: inline-block;
	z-index: 1;
	border: 1px solid var(--colorPrimary);
	transition: all 300ms;
}
.mf_3 a:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--colorPrimary);
	z-index: -1;
	transition: all 300ms;
}
.mf_3 a:hover:before{
	width: 100%;
}
.mf_3 a:hover{color: #fff;}

.mf_1,
.mf_2,
.mf_3{
	margin-bottom: 30px;
}
.mf_1 svg{
	width: 16px;
	height: 16px;
	margin: 0;
}
.st0{fill:#fff;}
.st1{filter:url(#Adobe_OpacityMaskFilter);}
.st2{mask:url(#XMLID_152_);}


.mfb_fix{
	position: relative;
	display: flex;
	align-items: center;
}
.mfb_fix .mbff_1 p{
	font-size: 12px;
	margin: 0;
	color: var(--colorText);
}
.mfb_fix .mbff_2{margin-left: auto;}
.mfb_fix .mbff_2 ul{
	list-style: none;
	padding: 0;
	display: flex;
	margin: 0;
}
.mfb_fix .mbff_2 ul li{
	margin-left: 40px;
	position: relative;
}
.mfb_fix .mbff_2 ul li a{
	font-size: 14px;
	color: var(--colorText);
}
/**/


/**********NOTICIAS PAGE**/
.bar_section{
	background-color: #3BA9FF;
	height: 120px;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.bar_section:before{
	content: "";
	width: 22%;
	height: 100%;
	position: absolute;
	top: 0;
	left: -15px;
	background-color: #1B4167;
	transform: skew(8deg);
}
.bs_content{
	position: relative;
	z-index: 2;
	height: 120px;
	width: 100%;
}
.bs_content h1{
	padding: 2px 15px;
	background-color: #fff;
	color: #1B4167;
	display: inline-block;
	margin: 0;
	position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
.bs_content h2{
	padding: 2px 15px;
	background-color: #fff;
	color: #1B4167;
	display: inline-block;
	margin: 0;
	position: absolute;
    top: 50%;
    font-size: 18px;
    transform: translate(0%, -50%);
}
.bsc_site{
	display: flex;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(0%, -50%);
}
.bsc_site a{
	color: #fff;
	text-decoration: underline;
}
.bsc_site span{
	color: #fff;
	margin-left: 5px;
	margin-right: 5px;
}

.noticias_page{
	padding: 120px 0;
}
.np_item{
	margin-bottom: 80px;
}
.np_item .npi_head{
	height: 280px;
	width: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}
.np_item .npi_head img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 300ms;
}
.npih_title{
	position: absolute;
	bottom: 15px;
	left: 0;
}
.npih_title h4{
	color: #fff;
	background-color: #1B4167;
	color: #fff;
	margin: 0;
	padding: 2px 15px;
}
.npi_fade{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 300ms;
}
.npi_fade:before{
	content: "";
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.npi_fade:after{
	content: "";
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.npi_head:hover .npi_fade:before,
.npi_head:hover .npi_fade:after{
	width: 100%;
}
.npi_link{
	height: 100%;
	width: 100%;
	position: absolute;
	top:0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.npi_link a{
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	text-decoration: none;
	font-size: 24px;
	border: 2px solid #fff;
	transform: scale(0.8);
	opacity: 0;
	transition: all 300ms;
}
.npi_head:hover .npi_link a{
	transform: scale(1);
	opacity: 1;
}
.npi_head:hover img{
	filter: grayscale(1);
}

.npi_body p{
	color: #7F7F7F;
	margin-bottom: 30px;
}
.npi_body a{
	color: #FFF;
	background-color: #dc463f;
	padding: 10px 45px;
	text-decoration: none;
	display: inline-block;
	position: relative;
	z-index: 1;
}
.npi_body a:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #1B4167;
	z-index: -1;
	transition: all 300ms;
}
.npi_body a:hover:before{
	width: 100%;
}



/*******ARTICULO************/
.articulo_page{
	padding: 80px 0;
}

.ap_content .apc_head{
	width: 100%;
	height: auto;
	margin-bottom: 30px;
}
.ap_content .apc_head img{
	width: 100%;
	height: auto;
}


.ap_details h4{
	display: inline-block;
	color: #fff;
	background-color: #1B4167;
	padding: 2px 15px;
	margin: 0 0 15px 0;
}
.ap_details .apd_gallery,
.ap_details .apd_videos,
.ap_details .apd_documents{
	margin-bottom: 30px
}
.apd_gallery #lightgallery img{
	width: 50%;
    height: 120px;
    object-fit: cover;
    float: left;
    padding-right: 10px;
    padding-bottom: 10px;
}
.apc_body{margin-bottom: 60px}
.apc_body h2{
	color: #1B4167;
	margin: 0 0 30px 0;
}
.apc_body p{
	color: #7F7F7F;
}
.apcb_social ul{
	list-style: none;
	display: flex;
	padding: 0;
	align-items: center;
	float: right;
}
.apcb_social ul li{
	margin-right: 10px;
}
.apcb_social ul li a{
	width: 30px;
	height: 30px;
	border:none;
	color: #fff;
	text-decoration: none;
	font-size: 16px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.apcb_social ul li a.apcb_fb{
	background-color: #3B5998;
}
.apcb_social ul li a.apcb_tw{
	background-color: #00ACEE;
}


/******INSTITUCIÓN******/
.institucion_page{
	padding: 80px 0;
}
.ip_history{
	margin-bottom: 60px;
}
.iph_title{
	margin-bottom: 30px;
	position: relative;
	text-align: center;
}
.iph_title h2{
	color: #1B4167;
	margin: 0;
}
.ip_history .iph_head{
	width: 100%;
	/*height: 280px;*/
	height: auto;
	position: relative;
	margin-bottom: 45px;
}
.ip_history .iph_head img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.iph_text {
	text-align: justify;
}
.iph_text h2{
	margin: 0 0 30px 0;
	color: #1B4167;
}
.iph_text p{
    color: #8F8F8F;
}
.ip_mv .ipmv_item h2{
	color: #1B4167;
	margin: 0 0 30px;
}
.ip_mv .ipmv_item p{
	color: #8F8F8F;
	text-align: justify;
}
.ip_mv .ipmv_item{
	margin: 0 0 45px 0;
}



/**********CONTACTOS PAGE***/
.contactos_page{
	position: relative;
	background-color: #FBFBFB;
}
.cpc_form{
	width: 100%;
	position: relative;
	background-color: #fff;
	/*border-radius: 12px;*/
	/*box-shadow: 0 15px 40px rgba(0,0,0,0.1);*/
	border: 1px solid var(--colorBorder);
	padding: 30px 45px;
}
::placeholder{
	color: var(--colorDetails);
}
.cpc_form form input{
	width: 100%;
	height: 48px;
	background-color: #fff;
	border: 1px solid var(--colorBorder);
	padding-right: 15px;
	padding-left: 15px;
	/*border-radius: 5px;*/
	color: var(--colorText);
}
.cpc_form form textarea{
	width: 100%;
	background-color: #fff;
	border: 1px solid var(--colorBorder);
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	color: var(--colorText);
	resize: none;
}
.cpc_form form input:focus,
.cpc_form form textarea:focus{
	outline: none;
	border-color: var(--colorPrimary);
}
.cpc_form form button{
	width: 140px;
	height: 42px;
	background-color: var(--colorPrimary);
	color: #fff;
	border: none;
	margin-left: auto;
	float: right;
	border-radius: 4px;
}
.cp_info{
	padding-right: 45px;
	/*padding-top: 30px;*/
}
.cpi_box{
	position: relative;
	padding: 20px;
	border: 1px solid var(--colorBorder);
	margin-bottom: 20px;
}
.cpi_box h5{
	font-weight: 600;
	color: var(--colorTitle);
	font-size: 16px;
	margin: 0 0 5px;
}
.cpi_box ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.cpi_box ul li{
	font-size: 12px;
	color: var(--colorText);
	margin-bottom: 6px;
}
.cpi_box ul li i{
	width: 20px;
}
.cpc_head{
	position: relative;
	margin-bottom: 30px;
}
.cpc_head h4{
	font-size: 24px;
	font-weight: 600;
	color: var(--colorTitle);
	margin: 0;
}
.cpc_head p{
	font-size: 16px;
	font-weight: 500;
	color: var(--azul);
	margin: 0;
	padding-left: 14px;
}
.cp_info .cpi_head{
	position: relative;
	margin-bottom: 30px;
	background-color: var(--colorPrimary);
	padding: 20px;
}
.cp_info .cpi_head h4{
	font-size: 24px;
	font-weight: 600;
	color: var(--colorTitle);
	margin: 0;
}
.cp_info .cpi_head p{
	font-size: 16px;
	font-weight: 500;
	color: var(--azul);
	margin: 0;
}
.cp_info ul.cpi_list{
	margin-bottom: 45px;
	list-style: none;
	padding: 0;
	color: var(--colorText);font-weight: 400;
}
.cp_info ul.cpi_list li{
	margin-bottom: 5px;
	display: flex;
}
.cp_info ul.cpi_list i{
	width: 24px;
	color: var(--azul);
	padding-top: 4px;
	margin-right: 8px;
    flex: 0 0 20px;
}


.cp_info ul.cpi_social{
	list-style: none;
	padding: 0;
	display: flex;
	margin-bottom: 30px;
}
.cp_info ul.cpi_social li{
	margin-right: 15px;
	position: relative;
}
.cp_info ul.cpi_social li:last-child{
	margin-right: 0;
}
.cp_info ul.cpi_social a{
	/*background-color: var(--verde);*/
	color: var(--colorText);
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	/*border-radius: 5px;*/
	margin-right: 15px;
	font-size: 18px;
	/*box-shadow: 0 15px 45px rgba(0,0,0,0.1);*/
}







#map{
	width: 100%;
	height: 380px;
}



/**********MULTIMEDIA***********/
.multimedia_page{
	padding: 80px 0;
}
.mp_videos h3,
.mp_images h3{
	margin: 0 0 30px 0;
    color: #fff;
    background-color: #1B4167;
    display: inline-block;
    padding: 2px 15px;
    position: relative;
}
.mp_images{
	margin-bottom: 60px;
}
.mp_images .mpg_item{
	height: 240px;
	width: 100%;
	position: relative;
	float: left;
	margin-bottom: 30px;
}
.mp_images .mpg_item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mpg_fade{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	padding: 15px;
}
.mpg_fade:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #E32C23;
	opacity: 0.6;
	transition: all 300ms;
}
.mpg_fade:after{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: #E32C23;
	opacity: 0.6;
	transition: all 300ms;
}
.mpg_item:hover .mpg_fade:before{
	width: 100%;
}
.mpg_item:hover .mpg_fade:after{
	width: 100%;
}
.mpg_open{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mpg_open img.lupa{
	width: 40px;
	height: auto;
	transform: scale(0.8);
	opacity: 0;
	transition: all 300ms;
}
.mpg_open:hover img.lupa{
	transform: scale(1);
	opacity: 1;
}
#mp_lightgallery p{
	color: #7F7F7F;
	text-decoration: none;
	margin-bottom: 5px;
}
.mpv_item{
	height: 240px;
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}
.mpv_item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.mpv_item .mpvi_fade{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.mpv_item .mpvi_fade:before{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top:0;
	right: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.mpv_item .mpvi_fade:after{
	content: "";
	width: 0%;
	height: 100%;
	position: absolute;
	top:0;
	left: 0;
	background-color: #1B4167;
	opacity: 0.6;
	transition: all 300ms;
}
.mpv_item:hover .mpvi_fade:before{
	width: 100%;
}
.mpv_item:hover .mpvi_fade:after{
	width: 100%;
}
.mpv_item .mpvi_play{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.mpv_item .mpvi_play img{
	width: 80px;
	height: auto;
	transform: scale(0.8);
	cursor: pointer;
	transition: all 300ms;
}
.mpv_item:hover .mpvi_play img{
	transform: scale(1);
}




/*******OFERTA ACEDEMICA******/
.oferta_section4{
	position: relative;
	width: 100%;height: 580px;
	background-color: var(--colorWhite);
}
.oferta_section4 .os4_content{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	height: 100%;
}
.oferta_section4 .os4_img{
	flex: 0 0 40%;
	width: 40%;
	height: 100%;
	margin-left: auto;
	position: relative;
}
.oferta_section4 .os4_img:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--colorBack);
	opacity: 0.2;
}
.oferta_section4 .os4_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.os4_text{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	z-index: 9;
}
.os4t_content{
	position: relative;
	padding: 80px 0;
}
.os4t_content .os4t_text{
	position: relative;
	margin-bottom: 40px;
}
.os4t_content .os4t_text h1{
	font-size: 28px;
	font-weight: 800;
	color: var(--colorTitle);
	margin: 0 0 4px;
}
.os4t_content .os4t_text p{
	font-size: 15px;
	font-weight: 400;
	color: var(--colorText);
	margin: 0;
}
.os4t_items{position: relative;}
.os4t_items .os4ti{
	display: flex;
	position: relative;
	margin-bottom: 20px;
}
.os4t_items .os4ti img{
	width: 38px;
	height: 38px;
	object-fit: contain;
	margin-right: 15px;
}
.os4t_items .os4ti .os4ti_{position: relative;padding-left: 20px}
.os4t_items .os4ti .os4ti_ h5{
	font-size: 14px;
	font-weight: 700;
	color: var(--colorTitle);
	margin: 0 0 5px;
	
}
.os4t_items .os4ti .os4ti_ p{
	font-size: 14px;
	font-weight: 400;
	color: var(--colorText);
	margin: 0;
	text-align: justify;
}
.os4_text a{
	display: inline-flex;
	width: 200px;
	height: 48px;
	background-color: var(--colorPrimary);
	color: var(--colorTitle);
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
}


/*.btn555{
	padding: 15px 30px;
	background-color: var(--colorPrimary);
	color: #fff;
	text-decoration: none;
	font-size: 15px;
}
.btn555:hover{
	text-decoration: none;
	color: #fff;
}*/
/**/
.oe_page{
	padding: 100px 0;
}
.oe_page .oep_head img{
	width: 100%;
	height: auto;
}
.oe_page .oep_texto h2{
	color: #1B4167;
	margin: 0 0 30px 0;
}
.oe_page .oep_texto ul,
.oe_page .oep_texto p{
	color: #7f7f7f;
}
.oe_page_i{
	padding: 40px 0;
	background-color: #1B4167;
	text-align: center;
}
.oe_page_i h2{
	color: #fff;
	margin: 0 0 15px 0;
}
.oe_page_i h4{
	color: #fff;
	margin: 0 0 15px 0;
}
.oe_page_i p{
	color: #fff;
	margin: 0;
}

.oe_page_O{
	padding: 100px 0;
}
.oe_page_O .oepo_c h3{
	color: #1B4167;
	margin: 0 0 15px;
}
.oe_page_O .oepo_c ul{
	/*list-style: none;*/
	padding: 0 0 0 20px;
	color: #7F7F7F;
}

.oepo_t .oepo_caja{
	padding: 5px 15px;
	border-left: 4px solid #DC463F;
	margin-bottom: 60px;
}
.oepo_t .oepo_caja h3{
	color: #1B4167;
	margin: 0 0 15px 0;
}
.oepo_t .oepo_caja p{
	color: #7F7F7F;
	margin: 0;
}
.oepo_ade h3{
	color: #1B4167;
	margin: 0 0 15px 0;
}
.oepo_ade p{
	color: #7f7f7f;
}
.oe_page_pba{
	position: relative;
	/*margin-bottom: 30px;*/
	overflow: hidden;
}
.oe_page_pba .oepba{
	height: 400px;
	width: 100%;
	position: absolute;
}
.oepba_a{
	width: 70%;
	height: 100%;
	position: relative;
	float: left;
	background-color: #1B4167;
	z-index: 1;
	/*transform: skew(8deg);
    left: -15px;*/
}
.oepba_a:before{
	content: "";
	width: 50px;
	height: 100%;
	background-color: #1B4167;
	position: absolute;
	right: -30px;
	top: 0;
	transform: skew(8deg);
}
.oepba_b{
	width: 30%;
	position: relative;
	float: left;
	height: 100%;
}
.oepba_b img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.oepba__{
	padding: 100px 0;
	position: relative;
	z-index: 2;
}
.oepba__ h4{
	color: #fff;
	margin: 0 0 15px 0;
}
.oepba__ p{
	color: #fff;
}

.oept_btn a{
	padding: 10px 45px;
    background-color: #E32C23;
    color: #fff;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.oept_btn a:before{
	content: "";
    width: 0%;
    height: 100%;
    background-color: #1B4167;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 300ms;
}
.oept_btn a:hover:before{width: 100%;}





/**************************************/
/******************2.0****************/
/************************************/
.mb_90{margin-bottom: 90px;}
.mb_80{margin-bottom: 60px;}
.mb_60{margin-bottom: 60px;}
.mb_40{margin-bottom: 40px;}
.mb_30{margin-bottom: 30px;}
.mb_20{margin-bottom: 20px;}


.mt_20{margin-top: 20px;}
.mt_40{margin-top: 40px;}
.mt_60{margin-top: 60px;}
.titulonw2{
	max-width: 450px;
	position: relative;
	text-align: left;
	/*left: 50%;
	transform: translateX(-50%);*/
}
.titulonw2 h1{
	font-size: var(--sizeTitle);
	color: var(--colorTitle);
	margin: 0;
	font-weight: 800;
	position: relative;
	/*padding-top: 18px;*/
	display: inline-block;
	z-index: 1;
	/*text-transform: uppercase;*/
	/*padding-right: 20px;*/
}
.titulonw2 h5{
	font-size: var(--sizeDetails);
	color: var(--colorTitle);
	margin: 0 0 8px;
	padding-left: 28px;
	position: relative;
	z-index: 1;
}
.titulonw2 h5:before{
	content: "";
	width: 14px;
	height: 14px;
	/*background-color: var(--colorPrimary);*/
	/*border: 2px solid var(--colorPrimary);*/
	position: absolute;
	top: 1px;
	left: 0px;
	z-index: -1;
	background-color: var(--colorPrimary);
	/*left: 50%;
	transform: translateX(-50%);*/
	/*border-radius: 0 4px 0 0;*/
	/*z-index: -1;*/
	opacity: 1;
	clip-path: polygon(0% 0%, 0% 100%, 25% 100%, 25% 25%, 75% 25%, 75% 75%, 25% 75%, 25% 100%, 100% 100%, 100% 0%);
}
.titulonw{
	max-width: 500px;
	text-align: center;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}
.titulonw h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	color: var(--colorPrimary);
	margin: 0 0 4px 0;
	font-weight: 500;
}
.titulonw h1{
	font-size: 28px;
	color: var(--colorTitle);
	margin: 0;
	font-weight: 800;
}
.padding_80{padding: 80px 0}
.padding_90{padding: 90px 0}
.padding_120{
	padding: 120px 0;
}
.msg_error{
	text-align: center;
}
.msg_error h4{
	font-size: 14px;
	color: var(--colorText);
	margin: 0;
}



/****************Oferta academica section*******/
.os5_text{
	font-size: var(--sizeText);
	font-weight: 400;
	color: var(--colorText);
	line-height: var(--lineheightText);
	margin-bottom: 40px;
}
.os5_list{position: relative;}
.os5_list ul{
	list-style: none;
	padding: 0;
	padding-left: 30px;
	display: inline-block;
}
.os5_list ul li{
	margin-bottom: 6px;
	padding:  4px 0;
	position: relative;
	padding-left: 0px;
	cursor: pointer;
	transition: all 300ms;
}
.os5_list ul li:before{
	content: "";
	width: 6px;
	height: 6px;
	position: absolute;
	background-color: var(--colorPrimary);
	top: 14px;
	left: 0;
	opacity: 0;
	transform: scale(0);
	transition: all 300ms;
}
.os5_list ul li p{
	font-size: var(--sizeText);
	color: var(--colorTitle);
	font-weight: 600;
	margin: 0;
}
.os5_list ul li:hover{
	padding-left: 12px;
}
.os5_list ul li:hover:before{
	opacity: 1;
	transform: scale(1);
}




/****La Institucion***/
.institucion_menu{position: relative;margin-bottom: 40px;}
.institucion_titulo{
	background-color: var(--colorPrimary);
	width: 100%;
	height: 60px;
	padding: 0 20px;
	display: flex;
	align-items: center;
}
.institucion_menu h2{
	font-size: 18px;
	font-weight: 700;
	color: var(--colorTitle);
	margin: 0;
}
.institucion_list{
	border: 1px solid var(--colorBorder);
	padding: 20px 30px 20px 40px;
	border-top: none;
}
.institucion_list ul{
	list-style: none;
	padding: 0;
	position: relative;
	margin: 0
}
.institucion_list ul li{margin-bottom: 4px;}
.institucion_list ul a{
	font-size: 14px;
	font-weight: 400;
	color: var(--colorText);
	display: block;
	padding: 4px 0;
	text-decoration: none;
	transition: all 200ms;
	position: relative;
}
.institucion_list ul a:hover{
	color: var(--colorPrimary);
}
.institucion_list ul a i{
	font-size: 9px;
	position: absolute;
	top: 9px;
	left: -20px;
}
.noticia_list{
	position: relative;
	margin-bottom: 40px;
}
.noticiasl_box{
	position: relative;
	border: 1px solid var(--colorBorder);
	margin-bottom: 20px;
}
.noticiasl_box .nl_img{
	width: 100%;
	height: 140px;
	position: relative;
}
.noticiasl_box .nl_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.noticiasl_box .nl_img .nl_fade{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
.noticiasl_box .nl_img .nl_fade:before{
	content: "";
	width: 100%;
	height: 100%;
	background-color: var(--colorBack);
	opacity: 0.2;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 200ms;
}
.noticiasl_box .nl_img .nl_fade a{
	display: inline-flex;
	width: 150px;
	height: 42px;
	border: 1px solid #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: 500;
	color: #fff;
	transform: translateY(50px);
	opacity: 0;
	transition: all 200ms;
}
.noticiasl_box:hover .nl_fade:before{
	opacity: 0.8;
}
.noticiasl_box:hover .nl_fade a{
	transform: translateY(0px);
	opacity: 1;
}
.nl_title{
	padding: 10px 15px;
	position: relative;
	background-color: #fff;
}
.nl_title h5{
	font-size: 16px;
	font-weight: 600;
	color: var(--colorTitle);
}
.nl_title a{
	text-decoration: none;
}






/****Instalaciones page*******/
.instalaciones_page{position: relative;}
.instalaciones_page .insp_section{
	position: relative;
	margin-bottom: 40px;
	padding-left: 30px;
}
.insp_ss{position: relative;margin-bottom: 20px;}
h1.insp_title{
	font-size: 24px;
	font-weight: 700;
	color: var(--colorTitle);
	margin: 0 0 10px;
}
.instalaciones_page .insp_item{
	position: relative;
	width: 100%;
	height: 180px;
	margin-bottom: 20px;
	overflow: hidden;
}
.instalaciones_page .insp_item img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 200ms;
}

.insp_fade{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.insp_fade:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--colorBack);
	z-index: 1;
	opacity: 0.1;
	transition: all 200ms;
}
.insp_fade a{
	width: 34px;
	height: 34px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--colorPrimary);
	color: var(--colorTitle);
	transform: scale(0.8);
	opacity: 0;
	z-index: 1;
	transition: all 200ms;
}
.insp_item:hover .insp_fade:before{
	opacity: 0.6;
}
.insp_item:hover .insp_fade a{
	opacity: 1;
	transform: scale(1);
}
.insp_item:hover img{
	transform: scale(1.05);
}


/***************************/


.section_footer{
	margin-top: 80px;
	position: relative;
}
.section_footer a{
	display: inline-flex;
	width: 280px;
	height: 48px;
	background-color: var(--colorPrimary);
	color: var(--colorTitle);
	margin-right: auto;
	margin-left: auto;
	align-items: center;
	justify-content: center;
	font-size: 15px;
	font-weight: 600;
	position: relative;
	transform: translateX(-50%);
	left: 50%;

}
/*.section_footer a{
	color: var(--colorPrimary);
	text-decoration: none;
	font-size: 16px;
	font-weight: 400;
	position: relative;
}
.section_footer .sf_content{
	display: inline-flex;
	position: relative;
	align-items: center;
	left: 50%;
    transform: translateX(-50%);
}
.section_footer .sf_content p{
	display: inline-block;
	margin: 0 30px 0 0;
}
.section_footer .sf_content .sf_box{
	display: inline-block;
	position: relative;
	width: 42px;
	height: 42px;
	border-radius: 4px;
	background-color: var(--colorPrimary);
	box-shadow: 2px 4px 18px rgba(13,64,81,0.15);
	overflow: hidden;
}
.section_footer .sf_content .sf_box img{
	width: auto;
	height: 100%;
	position: absolute;
	right: 0;
	transition: all 300ms ease-in-out;
}
.section_footer .sf_content a:hover img{
	right: -84px;
}
*/
/***********Informacion Institucional*********/

.info_section2{position: relative;}
.info_section2 .is2_img{
	position: relative;
	text-align: center;
	width: 100%;
	height: auto;
}
.info_section2 .is2_img img{
	width: 100%;
	height: auto;
}


.is2_content{
	position: relative;margin-left: -90px;
	background-color: #fff;
	padding: 30px 40px;
}
.info_section2 .row{
	align-items: flex-end;
}


.info_section2 .is2_texto{
	color: var(--colorText);
	font-size: 14px;
	line-height: 1.5em;
	margin-bottom: 40px;
	text-align: justify;
}
.info_section2 .is2_texto strong{
	font-weight: 500;
	color: var(--colorSubtitle);
}

.info_section2 .is2_footer{
	display: flex;
	align-items: center;
}
.info_section2 .is2_footer .is2f_text{
	width: 280px;
	position: relative;
	margin-right: 45px;
	border-right: 1px solid var(--colorBorder);
	padding-right: 30px;
}
.info_section2 .is2_footer .is2f_text p{
	font-size: 13px;
	color: var(--colorDetails);
	line-height: 1.4em;
	margin: 0;
}
.info_section2 .is2_footer a{
	background-color: var(--colorPrimary);
	color: var(--colorTitle);
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 48px;
	text-decoration: none;
	font-weight: 400;
	border-radius: 0px;
	box-shadow: 4px 6px 24px rgba(54, 68, 76, 0.12);
	transition: all 100ms;
}
.info_section2 .is2_footer a:hover{
	background-color: var(--colorPrimary);
}





/***********************Personas page****/
.personas_page{position: relative;}
.personap_box{
	position: relative;
	padding-left: 30px;
}
.ppb_item{
	position: relative;
	margin-bottom: 20px;
	border: 1px solid var(--colorBorder);
}
.ppb_head{
	width: 100%;
	height: 200px;
	position: relative;
	overflow: hidden;
}
.ppb_head .ppb_fade{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: var(--colorBack);
	opacity: 0.1;
	transition: all 200ms;
}
.ppb_head img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 200ms;
}
.ppb_text{
	position: relative;
	padding: 20px 30px;
	background-color: #fff;
}
.ppb_text h4{
	font-size: 16px;
	font-weight: 700;
	color: var(--colorTitle);
	margin: 0;
}
.ppb_text a{
	text-decoration: none;
}
.ppb_item:hover .ppb_fade{
	opacity: 0.6;
}
.ppb_item:hover img{
	transform: scale(1.04);
}



.singlepersona_page{position: relative;}
.sp_content .spp_head{position: relative;}
.sp_content .spp_head img{
	width: 100%;
	position: relative;
}



/**************Oferta educativa****************/
.oferta_section2{
	background-color: var(--colorWhite);
}
.os2_image{
	width: 100%;
	position: relative;
	text-align: center;
}
.os2_image img{
	width: 80%;
	height: auto;
}

.os2_content{
	width: 100%;
	height: auto;
	position: relative;
	display: block;
	background-color: #fff;
	box-shadow: 4px 8px 25px rgba(42,68,80,0.08);
}
.os2_content .os2_box{
	padding: 45px 60px;
	position: relative;
}
.os2_list{
	margin-top: 45px;
	margin-bottom: 45px;
	padding-left: 30px;
}
.os2_list .os2l_item{
	display: flex;
	position: relative;
	margin-bottom: 30px;
}
.os2_list .os2l_item img{
	width: 42px;
	height: auto;
	margin-right: 30px;
}
.os2_list .os2l_item .os2i_text h5{
	font-size: 14px;
	color: var(--colorPrimary);
	margin: 0 0 5px 0;
}
.os2_list .os2l_item .os2i_text p{
	font-size: 14px;
	color: var(--colorDetails);
	margin: 0;
}




.os2b_footer{
	position: relative;
	width: 100%;
	height: auto;
}
.os2b_footer a{
	display: block;
	width: 100%;
	text-align: center;
	padding: 30px 0;
	background-color: var(--colorPrimary);
	color: #fff;
	text-decoration: none;
}





/************Articulo Noticias*/
.apc_text h2{
	font-size: 28px;
	font-weight: 700;
	color: var(--colorTitle);
	line-height: 1.4em;
	margin: 0 0 10px;
}
.apc_data{
	margin-bottom: 30px;
	position: relative;
}
.apc_data span{
	color: var(--colorDetails);
	font-size: 12px;
	font-weight: 400;
}
.apc_data span i{
	margin-right: 8px;
	font-size: 14px;
	color: var(--colorDetails);
}


.apct_{
	font-size: 16px;
	font-weight: 400;
	color: var(--colorText);
	line-height: 2em;
	text-align: justify;
}
.apct_ blockquote{
	background-color: var(--colorWhite);
	padding: 20px 30px;
	font-style: italic;
	margin: 30px 0;
	color: var(--colorDetails);
}
.apct_ blockquote > *{
	margin: 0;
}
.apct_  a{
	color: var(--colorPrimary);
}
.apct_ strong{
	font-weight: 600;
	color: var(--colorTitle);
}


.apc_video{
	position: relative;margin-top: 60px;
	margin-bottom: 60px;
}
.apcv{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.apcv .apcv_img{
	flex: 0 0 180px;
	width: 180px;
	height: 120px;
	position: relative;
	margin-right: 30px;
	border-radius: 4px;
	overflow: hidden;
}
.apcv .apcv_img:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--colorBack);
	opacity: 0.6;
	transition: all 300ms;
}
.apcv .apcv_img:hover:before{
	opacity: 0.8;
}
.apcv .apcv_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.apcv .apcv_img .apcv_play{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
}
.apcv .apcv_img .apcv_play img{
	width: 20px;
	height: auto;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.apcv_text{
	position: relative;
	width: auto;
	height: 100px;
	flex: 0 0 calc(100% - 210px);
	width: calc(100% - 210px);
}
.apcv_text .apcvt_{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.apcv_text .apcvt_ h4{
	font-size: 18px;
	font-weight: 700;
	color: var(--colorTitle);
	margin: 0 0 10px;
}
.apcv_text .apcvt_ p{
	font-size: 13px;
	color: var(--colorDetails);
	margin: 0;
	line-height: 1.4em;
}

.apc_doc{
	position: relative;margin-bottom: 20px;
}

.ac_title{
	position: relative;
}
.ac_title h5{
	font-size: 18px;
	color: var(--colorTitle);
	margin: 0 0 10px;
}

.ax_title{
	position: relative;
	margin-bottom: 40px;
}
.ax_title h1{
	font-size: 28px;
	margin: 0 0 10px;
	color: var(--colorTitle);
}

.galeria_sectt{
	position: relative;
	width: 100%;
	height: 200px;
	padding: 2px;
	overflow: hidden;
}
.gstt{
	position: relative;
	width: 100%;
	height: 100%;
}
.gstt:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--colorBack);
	opacity: 0;
	transition: all 200ms;
}
.galeria_sectt img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: all 200ms;
}
.galeria_sectt:hover .gstt:before{
	opacity: 0.6;
}




.apcd_list .apcd_item{
	position: relative;
	margin-bottom: 20px;
}
.apcd_list .apcd_item a{
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 48px;
	background-color: var(--colorPrimary);
	color: var(--colorTitle);
	font-size: 14px;
	font-weight: 500;
	padding: 4px 8px;
	border-radius: 2px;
	box-shadow: 2px 4px 12px rgba(0,0,0,0.1);
	text-decoration: none;
	transition: all 300ms;
}
.apcd_list .apcd_item a:hover{
	box-shadow: 2px 6px 18px rgba(0,0,0,0.14);
}



.api_shared{
	border-top: 1px solid #EEE;
	padding-top: 15px;
}
.api_shared ul{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.api_shared ul li{
	margin-right: 8px;
}
.api_shared ul li a{
	padding: 5px 8px;
	transition: all 300ms;
	color: var(--colorBack)
}
.api_shared ul li a,
.api_shared ul li span{
	color: var(--colorText);
}
.api_shared ul li span{
	font-size: 16px;
	font-weight: 600;
}
.api_shared ul li a:hover{
	color: var(--colorPrimary);
}







.separador{
	margin: 90px 0;
	position: relative;
}
.separador:before{
	content: "";
	display: block;
	width: 30%;
	height: 2px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	background-color: #eee;
}







/*************Header section**********/
.header_section2{
	position: relative;
	width: 100%;
	height: 280px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: 1;
}
.header_section2:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--colorBack);
	opacity: 0.8;
	z-index: -1;
}
.hs2_box{
	position: relative;
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.hs2_text h1{
	font-size: 28px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.hs2_text p{
	font-size: 16px;
	font-weight: 400;
	color: #fff;
}

.ruta_sec{
	background-color: #F2F2F4;
	padding: 15px 0;
	position: relative;
}
.ruta_sec ul{
	list-style: none;
	padding: 0;
	display: flex;
	margin: 0;
}
.ruta_sec ul li{
	padding-right: 15px;
}
.ruta_sec ul li a,
.ruta_sec ul li span{
	font-size: 12px;
	font-weight: 400;
	color: var(--colorText);
	text-decoration: none;
}
.ruta_sec a:not([href]):not([tabindex]){
	color: var(--colorText);
}
.ruta_sec a:not([href]):not([tabindex]):hover{
	color: var(--colorText);
}



/*****Eventos page*/
.eventos_page{position: relative;}
.ep_section{
	position: relative;margin-bottom: 40px;
	padding-left: 30px;
}
.evp_title{
	margin-bottom: 40px;
	position: relative;
}
.evp_title h1{
	font-size: 28px;
	font-weight: 700;
	color: var(--colorTitle);
	margin: 0 0 5px;
}
.ep_item{
	position: relative;
	margin-bottom: 20px;
	border: 1px solid var(--colorBorder);
}
.ep_item .epi_head{
	position: relative;
	width: 100%;
	height: 220px;
}
.ep_item .epi_head img{
	width: 100%;
	height: 100%;
	position: relative;
	object-fit: cover;	
}
.epi_box{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	padding: 20px;
}
.epi_box .ep_fecha{
	flex: 0 0 80px;
	position: relative;
	width: 80px;
	margin-right: 20px;
}
.epf_date{
	text-align: center;
	width: 100%;
	background-color: var(--colorPrimary);
	padding: 10px;
}
.epf_date p{
	font-size: 12px;
	font-weight: 600;
	color: var(--colorTitle);
	margin: 0;
}
.epf_date h4{
	font-size: 34px;
	margin: 0;
	color: var(--colorTitle);
}





.ep_detalles{
	flex: 0 0 calc(100% - 100px);
	width: calc(100% - 100px);
	position: relative;
}
.ep_detalles h4{
	font-size: 22px;
	font-weight: 600;
	color: var(--colorTitle);
	margin: 0 0 10px;
}
.ep_detalles a{text-decoration: none;}
.ep_detalles .epf_time{position: relative;margin-bottom: 20px;}
.ep_detalles .epf_time p{
	font-size: 14px;
	font-weight: 400;
	color: var(--colorText);
	margin: 0 0 5px;
}
.ep_detalles .epf_time p strong{
	font-weight: 600;
}
.ep_info{position: relative;}
.ep_info p{
	font-size: 14px;
	font-weight: 400;
	color: var(--colorText);
}




.epih_activo{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 90px;
	height: 24px;
	background-color: var(--colorPrimary);
	color: var(--colorTitle);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	font-weight: 600;
}
.epih_fade{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.epih_fade:before{
	content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--colorBack);
    opacity: 0;
    transition: all 200ms;
}
.epih_fade a{
	width: 150px;
    height: 42px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    transform: translateY(50px);
    opacity: 0;
    transition: all 200ms;
    text-decoration: none;
}
.ep_item:hover .epih_fade a{
    opacity: 1;
    transform: translateX(0px);
}
.ep_item:hover .epih_fade:before{
	opacity: 0.6;
}
/*******Articulo compuesto page*/
.ac2_section,.ac2_container{
	position: relative;
	padding-left: 30px;
}
.ac2_section .ac_item{
	position: relative;
	margin-bottom: 20px;
}
.ac2_section .ac_item h1.aci_title{
	font-size: 28px;
	font-weight: 700;
	color: var(--colorTitle);
	margin: 0 0 4px;
	/*text-tranzform: uppercase;*/
	/*text-align: center;*/
}
.aci_path{
	width: 100%;
	height: 420px;
	position: relative;
	margin-bottom: 40px;
}
.aci_path img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.aci_text{
	font-size: 14px;
	font-weight: 400;
	color: var(--colorText);
	line-height: 1.5em;
	text-align: justify;
}
.aci_text table tr,
.aci_text table th,
.aci_text table td{
	font-size: 14px;
	border: 1px solid var(--colorBorder);
	padding: 2px 5px;
}
.aci_text table strong{
	font-weight: 700;
	color: var(--colorTitle);
}



/**RESPONSIVE******/
@media (max-width: 1200px){
	.nbr_principal ul.nav a{
		font-size: 12px;
	}
	.bs_content h2,
	.bs_content h1{
		display: none;
	}
}
@media (max-width: 992px){
	.nbr_principal .navbar-toggle{
		margin-top: 30px;
	}
	.is_text{
		text-align: center;
	}
	.ms_item{
		height: 200px;
	}
	.mf_bar{
		display: none;
	}
	.mf_1 li a{
		background-color: #fff;
		color: #1B4167;
	}
	.mf_1 .st0{fill:#1B4167;}
	.sc_slider{
		height: 600px;
		width: 100%;
		margin-left: 0;
	}
	.bx-slidah{
		height: 600px;
	}
	.slider_section{
		height: 600px;
	}
	.scc_text{
		height: 600px;
	}
	.nbr_principal ul.nav{
		float: none !important;
	}
	.navbar-nav > li{
		float: none;
	}
	.mydrop .mdrop_cont {
		position: relative;
		padding-top: 0;
		width: auto;
		right: auto;
		opacity: 1;
		visibility: visible;
		transform: none;
		padding-left: 45px;
	}
	.mydrop .mdrop_cont ul {
	    width: 100%;
	    height: auto;
	    padding: 0;
	    background-color: transparent;
	    box-shadow: none;
	    overflow: hidden;
	}
	.mydrop .mdrop_cont ul:before{
		content: none;
	}
	.mydrop .mdrop_cont > ul.mdrop_list > li > a{
		padding: 8px 0px !important;
	}








	.nbr_principal{
		position: relative;
		width: 100%;
		z-index: 999;
		height: auto;
	}
	#ss_secti{
		/*padding-top: 94px;*/
	}
	.nbr_principal ul.nav a{
		font-size: 14px;
	}
	.bar_section{
		margin-top: 96px;
	}
	.oepba_b img{
		filter: brightness(0.4);
	}
	.ns2_item{
		margin-bottom: 30px;
	}
}

@media (max-width: 767px){
	.nsi_head{
		height: 280px;
	}
	.ms_item{
		height: 180px;
	}
	.oepba_a{
		width: 100%;
	}
	.oepba_b{
		width: 0%;
		display: none;
	}
	.oepba__{
		text-align: center;
	}
	.sc_lateral{
		display: none;
	}
	.scc_text{
		justify-content: center;
	}
	.scc_text .scct_{
		text-align: center;
	}
	p.scct_slogan{
		background-color: #1B4167;
		margin: 2px 15px;
	}
	.nbr_social{
		display: none;
	}
}